header.header
    .container
        a.header__logo(href="#")
            img.header__img(src="assets/images/logo.svg" alt="Логотип")
        nav.header__nav
            ul.header__list
                li.header__item
                    a.header__link(href="#") NavItem1
                li.header__item
                    a.header__link(href="#") NavItem2
                li.header__item
                    a.header__link(href="#") NavItem3
            
        a.header__btn(href="#") Button