$gradient-blue-grey: radial-gradient(71.66% 199.46% at 92.13% 90.12%, #476D9F 0%, #93B2DB 98.77%);
$gradient-blue: radial-gradient(71.66% 199.46% at 92.13% 90.12%, #2460B0 0%, #7CA9E6 98.77%);

$blue-100: hsla(239, 83%, 54%, 1);
$dark-100: hsla(228, 8%, 12%, 1);
$dark-60: hsla(228, 8%, 12%, 0.6);
$grey-6: hsla(228, 8%, 12%, 0.06);
$white-100: hsla(0, 0%, 100%, 1);
$white-80: hsla(0, 0%, 100%, 0.8);
$white-40: hsla(0, 0%, 100%, 0.4);

