body {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;

  max-width: 1406px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}